<!DOCTYPE html>
<html>
<head>
  <title>Learning Rails Forum</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="main_header clearfix">
    <div class="container">
      <div id="logo">
        <p>Learning Rails Forum</p>
      </div>
      <div id="buttons">
        <%= link_to "New Post", new_post_path %>
      </div>
    </div>
  </header>
  <div class="container">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </div>

  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
